@model FamilyBoard.Photo

@{
    ViewBag.Title = "Details";
}

<h2>Photo</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FamilyBoard.FileType.Picture))
        {
            <dd>
                <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Picture).FileId" alt="Picture" width="600"/>
            </dd>
        }
        <dt>
            <p>Title</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            <p>Created by</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

       

        <dt>
            <p>Date created</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
