@model FamilyBoardUI.Models.CommentWithPhotoModel

@{
    ViewBag.Title = "Index";
}

<h2>Photo Comments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (Model.Photo.Files.Any(f => f.FileType == FamilyBoard.FileType.Picture))
{
    <dd>
        <img src="~/File?id=@Model.Photo.Files.First(f => f.FileType == FileType.Picture).FileId" alt="Picture" width="600" />
    </dd>
}
<table class="table">
    <tr>
        <th>
            <p>Photo Title</p>
        </th>
        <th>
            <p>Commented by</p>
        </th>
        <th>
            <p>Comment</p>
        </th>
        <th>
            <p>Comment Date</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.PhotoComments) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Photo.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
